.inputDiv {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.inputLabel {
    font-weight: bold;
    display: block;
    margin-bottom: .8rem;
    display: block;
    width: 100%;
}

.input {
    outline: none;
    border: 2px solid rgb(181, 205, 233);
    border-radius: .5rem;
    background-color: white;
    font: inherit;
    padding: .6rem 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
    background-color: rgb(230, 230, 230);
}

.invalid-form1 {
    background-color: rgb(255, 176, 176);
    border: 1px solid red;
}

/* .valid {
    background-color: rgb(138, 226, 126);
    border: 1px solid green;
} */