:root {
  font-size: 10px;
  font-family: fantasy;
}

.App {
  margin: 0;
  padding: 3rem;

  display: grid;
  justify-items: center;
  grid-gap: 3rem;
  grid-template-rows: repeat(3, max-content);
}

